.container-card{
  display:flex;
  flex-direction:column;
  width:240px;
  gap:12px;
  margin-bottom:20px;
}

.imagen{
  border-radius:15px;
}

.popular{
  text-align:center;
  position:relative;
  top:52px;
  left:10px;
  background-color:#F6C768;
  width:80px;
  padding:6px 3px;
  border-radius:40px;
  color:black;
}

.precio{
  width:50px;
  background-color: #BEE3CC;
  text-align:center;
  color:black;
  padding:3px 1.5px;
  border-radius:5px;
}

.container-card > .nombre-precio{
  display:flex;
  justify-content:space-between;
}

.container-card > .rating-votes{
  display:flex;
}

.disponible{
  display:flex;
}

.rating-container{
  display: flex;
  justify-content:space-between;
}
